--
-- PostgreSQL database dump
--

\restrict RqlLKYpYq0lZGeYt7y5N9ci4zldNRokOvKMwGvjP2f5XgGKB3Mwp55h9bdpGrJ7

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asset_files; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asset_files (
    asset_file_id character varying(120) NOT NULL,
    asset_key character varying(200) NOT NULL,
    asset_type character varying(30) NOT NULL,
    version character varying(40) NOT NULL,
    file_path text NOT NULL,
    download_url text NOT NULL,
    hash text NOT NULL,
    size_bytes bigint NOT NULL,
    mime_type character varying(120) NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    published_at timestamp with time zone,
    CONSTRAINT asset_files_asset_type_check CHECK (((asset_type)::text = ANY ((ARRAY['map'::character varying, 'texture'::character varying, 'model'::character varying, 'audio'::character varying, 'shader'::character varying, 'material'::character varying, 'sprite'::character varying, 'animation'::character varying, 'data'::character varying])::text[]))),
    CONSTRAINT asset_files_size_bytes_check CHECK ((size_bytes >= 0)),
    CONSTRAINT asset_files_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'published'::character varying, 'deprecated'::character varying, 'deleted'::character varying])::text[])))
);


--
-- Name: asset_manifests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asset_manifests (
    manifest_id character varying(120) NOT NULL,
    name character varying(160) NOT NULL,
    version character varying(40) NOT NULL,
    target_type character varying(40) NOT NULL,
    target_id character varying(120) NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    published_at timestamp with time zone,
    is_current boolean DEFAULT false NOT NULL,
    CONSTRAINT asset_manifests_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'published'::character varying, 'deprecated'::character varying])::text[]))),
    CONSTRAINT asset_manifests_target_type_check CHECK (((target_type)::text = ANY ((ARRAY['global'::character varying, 'scenario'::character varying, 'scenario_set'::character varying, 'game_mode'::character varying, 'event'::character varying])::text[])))
);


--
-- Name: friend_relations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.friend_relations (
    friend_relation_id uuid DEFAULT gen_random_uuid() NOT NULL,
    player_a_id uuid NOT NULL,
    player_b_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT friend_relations_not_self CHECK ((player_a_id <> player_b_id))
);


--
-- Name: friend_requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.friend_requests (
    friend_request_id uuid DEFAULT gen_random_uuid() NOT NULL,
    from_player_id uuid NOT NULL,
    to_player_id uuid NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    resolved_at timestamp with time zone NOT NULL,
    CONSTRAINT friend_requests_not_self CHECK ((from_player_id <> to_player_id)),
    CONSTRAINT friend_requests_status_check CHECK (((status)::text = ANY (ARRAY[('pending'::character varying)::text, ('accepted'::character varying)::text, ('rejected'::character varying)::text, ('cancelled'::character varying)::text])))
);


--
-- Name: manifest_files; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.manifest_files (
    manifest_id character varying(120) NOT NULL,
    asset_file_id character varying(120) NOT NULL,
    required boolean DEFAULT true NOT NULL,
    load_priority integer DEFAULT 100 NOT NULL,
    usage character varying(80)
);


--
-- Name: player_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.player_profiles (
    player_id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    nickname character varying(32) NOT NULL,
    appearance_json jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: player_stats; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.player_stats (
    player_id uuid NOT NULL,
    games_played integer DEFAULT 0 NOT NULL,
    games_won integer DEFAULT 0 NOT NULL,
    games_lost integer DEFAULT 0 NOT NULL,
    total_play_time_seconds bigint DEFAULT '0'::bigint NOT NULL,
    stats_json jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone,
    username character varying(32) NOT NULL
);


--
-- Name: asset_files asset_files_asset_key_version_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_files
    ADD CONSTRAINT asset_files_asset_key_version_key UNIQUE (asset_key, version);


--
-- Name: asset_files asset_files_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_files
    ADD CONSTRAINT asset_files_pkey PRIMARY KEY (asset_file_id);


--
-- Name: asset_manifests asset_manifests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_manifests
    ADD CONSTRAINT asset_manifests_pkey PRIMARY KEY (manifest_id);


--
-- Name: asset_manifests asset_manifests_target_type_target_id_version_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_manifests
    ADD CONSTRAINT asset_manifests_target_type_target_id_version_key UNIQUE (target_type, target_id, version);


--
-- Name: friend_relations friend_relations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_relations
    ADD CONSTRAINT friend_relations_pkey PRIMARY KEY (friend_relation_id);


--
-- Name: friend_relations friend_relations_unique_pair; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_relations
    ADD CONSTRAINT friend_relations_unique_pair UNIQUE (player_a_id, player_b_id);


--
-- Name: friend_requests friend_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_pkey PRIMARY KEY (friend_request_id);


--
-- Name: manifest_files manifest_files_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manifest_files
    ADD CONSTRAINT manifest_files_pkey PRIMARY KEY (manifest_id, asset_file_id);


--
-- Name: player_profiles player_profiles_nickname_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_profiles
    ADD CONSTRAINT player_profiles_nickname_unique UNIQUE (nickname);


--
-- Name: player_profiles player_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_profiles
    ADD CONSTRAINT player_profiles_pkey PRIMARY KEY (player_id);


--
-- Name: player_profiles player_profiles_user_id_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_profiles
    ADD CONSTRAINT player_profiles_user_id_unique UNIQUE (user_id);


--
-- Name: player_stats player_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_stats
    ADD CONSTRAINT player_stats_pkey PRIMARY KEY (player_id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: asset_manifests_one_current_per_target; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX asset_manifests_one_current_per_target ON public.asset_manifests USING btree (target_type, target_id) WHERE ((is_current = true) AND ((status)::text = 'published'::text));


--
-- Name: friend_relations friend_relations_player_a_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_relations
    ADD CONSTRAINT friend_relations_player_a_fk FOREIGN KEY (player_a_id) REFERENCES public.player_profiles(player_id) ON DELETE CASCADE;


--
-- Name: friend_relations friend_relations_player_b_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_relations
    ADD CONSTRAINT friend_relations_player_b_fk FOREIGN KEY (player_b_id) REFERENCES public.player_profiles(player_id) ON DELETE CASCADE;


--
-- Name: friend_requests friend_requests_from_player_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_from_player_fk FOREIGN KEY (from_player_id) REFERENCES public.player_profiles(player_id) ON DELETE CASCADE;


--
-- Name: friend_requests friend_requests_to_player_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.friend_requests
    ADD CONSTRAINT friend_requests_to_player_fk FOREIGN KEY (to_player_id) REFERENCES public.player_profiles(player_id) ON DELETE CASCADE;


--
-- Name: manifest_files manifest_files_asset_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manifest_files
    ADD CONSTRAINT manifest_files_asset_file_id_fkey FOREIGN KEY (asset_file_id) REFERENCES public.asset_files(asset_file_id) ON DELETE RESTRICT;


--
-- Name: manifest_files manifest_files_manifest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.manifest_files
    ADD CONSTRAINT manifest_files_manifest_id_fkey FOREIGN KEY (manifest_id) REFERENCES public.asset_manifests(manifest_id) ON DELETE CASCADE;


--
-- Name: player_profiles player_profiles_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_profiles
    ADD CONSTRAINT player_profiles_user_id_fk FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: player_stats player_stats_player_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.player_stats
    ADD CONSTRAINT player_stats_player_id_fk FOREIGN KEY (player_id) REFERENCES public.player_profiles(player_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict RqlLKYpYq0lZGeYt7y5N9ci4zldNRokOvKMwGvjP2f5XgGKB3Mwp55h9bdpGrJ7

