PORT=3001
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=islaT_DB
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
REDIS_HOST=localhost
REDIS_PORT=6379
GAME_SERVER_CONTROL_URL=http://localhost:8080
GS_CONTROL_TOKEN=
ASSET_ADMIN_TOKEN=changeme
